@keyframes colorChange {
    from {background-color: #6A6EF7;}
    to {background-color: #DCDEFD;}
  }
  
  @keyframes textColorChange {
    from {color: #DCDEFD;}
    to {color: #6A6EF7;}
  }
  
  @keyframes backgroundFade {
    from{background-color: white;}
    to{background-color: rgb(0, 0, 0, 50%);}
  }
  
  @keyframes backgroundFadeReverse {
    from{background-color: rgb(0, 0, 0, 50%);}
    to{background-color: white;}
  }
  
  @keyframes bounceIn {
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    19% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: scale(0.7);
      animation-timing-function: ease-in;
    }
    72% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    81% {
      transform: scale(0.84);
      animation-timing-function: ease-in;
    }
    89% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }  