body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 16.42px;
  text-align: center;
}

.button {
  position: relative;
  z-index: 2;
  background: #6A6EF7;
  border-radius: 40px;
  padding: 10px 30px;
  border: none;
}

.rectangle {
  position: absolute;
  display: none;
  width: 50vw;
  height: 30vw;
  background-color: white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
}

.rectangle-text {
  font-size: 20px;
  line-height: 23px;
  display: table;
  margin: 0 auto;
  padding-top: 20%;
}

.rectangle-animation{
  animation: bounceIn 1s forwards;
  display: flex;
}

.rectangle-animation-reverse{
  animation: bounceIn 1s reverse;
}


.button:hover{
  animation-name: colorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.button-text {
  text-transform: uppercase;
  color: #DCDEFD;
}

.button:hover .button-text {
  animation-name: textColorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.button-animation {
  animation: bounceIn 1s forwards;
}

.body-animation{
  animation: backgroundFade 1s forwards;
}

.body-animation-reverse{
  animation: backgroundFadeReverse 1s forwards;
}